.menu_footer_player_id_text{
    font-family: "Agbalumo", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 20px;
}

.menu_footer_container{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.menu_footer_copyright{
    margin-left: auto;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}